[build]
  base = "./"
  publish = "docs/.vuepress/dist"
  command = "yarn docs:build"

# Sets our asset optimization
[build.processing.css]
  bundle = true
  minify = true
[build.processing.js]
  bundle = true
  minify = true
[build.processing.html]
  pretty_urls = false
[build.processing.images]
  compress = true

# Caches our images for 1 year
[[headers]]
  for = "/images/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000"
	  
# We need this so preview environments and the base site look ok on their own
[[redirects]]
  from = "/"
  to = "/cli"
  status = 200
[[redirects]]
  from = "/cli/*"
  to = "/:splat"
  status = 200