name: Create Dev Releases

on:
  push:
    branches:
      - main
      - 'preview/**'

jobs:
  package:
    runs-on: ubuntu-22.04
    env:
      TERM: xterm
    strategy:
      fail-fast: false
      matrix:
        arch:
          - x64
          - arm64
        node-version:
          - '18'
        os:
          - linux
          - macos
          - win
        pkg:
          - "@yao-pkg/pkg@5.10.0"
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install node ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - name: Install dependencies
        run: npm clean-install --prefer-offline --frozen-lockfile --production
      - name: Prepare Release
        uses: lando/prepare-release-action@v3
        with:
          version: dev
          sync: false
      - name: Ensure version
        run: node ./bin/lando version
      - name: Package into node binary
        uses: lando/pkg-action@v4
        with:
          entrypoint: bin/lando.js
          arch: ${{ matrix.arch }}
          node-version: ${{ matrix.node-version }}
          os: ${{ matrix.os }}
          pkg: ${{ matrix.pkg }}

  sign-n-deploy:
    runs-on: ${{ matrix.os }}
    needs:
      - package
    env:
      TERM: xterm
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-2022
            key: cli-node18-win-x64-${{ github.sha }}
            file: lando/cli.exe
            certificate-data: WINDOZE_CERT_DATA
            certificate-password: WINDOZE_CERT_PASSWORD
            result: lando-win-x64-${{ github.ref_name }}.exe
          - os: windows-2022
            key: cli-node18-win-arm64-${{ github.sha }}
            file: lando/cli.exe
            certificate-data: WINDOZE_CERT_DATA
            certificate-password: WINDOZE_CERT_PASSWORD
            result: lando-win-arm64-${{ github.ref_name }}.exe
          - os: macos-12
            key: cli-node18-macos-x64-${{ github.sha }}
            file: lando/cli
            certificate-data: APPLE_CERT_DATA
            certificate-password: APPLE_CERT_PASSWORD
            apple-product-id: dev.lando.cli
            apple-team-id: FY8GAUX282
            apple-notary-user: APPLE_NOTARY_USER
            apple-notary-password: APPLE_NOTARY_PASSWORD
            options: --options runtime --entitlements entitlements.xml
            result: lando-macos-x64-${{ github.ref_name }}
          - os: macos-12
            key: cli-node18-macos-arm64-${{ github.sha }}
            file: lando/cli
            certificate-data: APPLE_CERT_DATA
            certificate-password: APPLE_CERT_PASSWORD
            apple-product-id: dev.lando.cli
            apple-team-id: FY8GAUX282
            apple-notary-user: APPLE_NOTARY_USER
            apple-notary-password: APPLE_NOTARY_PASSWORD
            options: --options runtime --entitlements entitlements.xml
            result: lando-macos-arm64-${{ github.ref_name }}
          - os: ubuntu-22.04
            key: cli-node18-linux-x64-${{ github.sha }}
            file: lando/cli
            result: lando-linux-x64-${{ github.ref_name }}
          - os: ubuntu-22.04
            key: cli-node18-linux-arm64-${{ github.sha }}
            file: lando/cli
            result: lando-linux-arm64-${{ github.ref_name }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Download ${{ matrix.key }}
        uses: actions/download-artifact@v3
        with:
          name: ${{ matrix.key }}
          path: lando
      - name: Sign and Notarize
        uses: lando/code-sign-action@v2
        id: code-sign-action
        with:
          file: ${{ matrix.file }}
          certificate-data: ${{ secrets[matrix.certificate-data] }}
          certificate-password: ${{ secrets[matrix.certificate-password] }}
          apple-notary-user: ${{ secrets[matrix.apple-notary-user] }}
          apple-notary-password: ${{ secrets[matrix.apple-notary-password] }}
          apple-product-id: ${{ matrix.apple-product-id }}
          apple-team-id: ${{ matrix.apple-team-id }}
          options: ${{ matrix.options }}
      - name: Rename as needed
        shell: bash
        run: |
          mkdir -p releases
          cp ${{ steps.code-sign-action.outputs.file }} releases/${{ matrix.result }}
          cp releases/${{ matrix.result }} "releases/$(echo ${{ matrix.result }} | sed 's/${{ github.ref_name }}/latest/;')"
          cp releases/${{ matrix.result }} "releases/$(echo ${{ matrix.result }} | sed 's/${{ github.ref_name }}/dev/;')"
          chmod +x releases/*
          ls -lsa releases
      - name: Configure S3 Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.S3_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.S3_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Upload dev releases to S3
        shell: bash
        run: aws s3 sync releases s3://files.lando.dev/cli

