name: Run Docs Tests

on:
  pull_request:

jobs:
  docs-tests:
    runs-on: ${{ matrix.os }}
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    strategy:
      matrix:
        os:
          - ubuntu-24.04
        node-version:
          - '18'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install node ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - name: Install dependencies
        run: npm clean-install --prefer-offline --frozen-lockfile

      - name: Run linter
        run: npm run lint
      - name: Test mvb
        run: npm run docs:mvb
      - name: Test build
        run: |
          git --no-pager tag
          git --no-pager branch --all
          git status
          git describe --debug --tags --always --abbrev=1 --match="v[0-9].*"
          npm run docs:build
