name: Runtime Tests

on:
  pull_request:

jobs:
  leia-tests:
    runs-on: ${{ matrix.os }}
    env:
      TERM: xterm
      # DEBUG: "lando*"
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04
        node-version:
          - '16'
        leia-test:
          - examples/appname
          - examples/global
          - examples/v3
          - examples/v4
    steps:

      # Install deps and cache
      # Eventually it would be great if these steps could live in a separate YAML file
      # that could be included in line to avoid code duplication
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install node ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - name: Install Yarn dependencies
        run: yarn install --prefer-offline --frozen-lockfile

      # This block should eventually become use lando/actions-hyperdrive@v2
      - name: Verify Docker dependencies
        run: |
          docker --version | grep "20.10."
          docker-compose --version | grep "1.29."
      # - name: Install via hyperdrive if above is bad
      - name: Disable usage and error reporting
        run: |
          mkdir -p ~/.lando/cache
          echo false > ~/.lando/cache/report_errors
          sed -i "s/report: true.*/report: false/" config.yml

      # @TODO: once we are no longer using github:lando/core-next#main as the repo for @lando/core-next
      # eg once we are pulling a package from npm we can remove this
      - name: Update to latest core-next
        run: |
          yarn upgrade @lando/core-next
          git diff

      - name: Package CLI
        run: yarn cli:build
      - name: Replace source CLI with packaged one
        run: sudo mv ./dist/@lando/cli /usr/local/bin/lando
      - name: Verify we can run the packaged CLI
        run: |
          # v3 things
          lando version
          lando config
          # v4 things
          LANDO_CORE_RUNTIME=v4 lando version --all --debug
          LANDO_CORE_RUNTIME=v4 lando config --debug

      # This block should eventually become use lando/actions-leia@v2
      - name: Run leia tests
        shell: bash
        run: yarn leia "./${{ matrix.leia-test }}/README.md" -c 'Destroy tests' --stdin --shell bash
